@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #326AFA;
  --neutral-primary-color: #D9D9D9;
  --netural-medium-color: #7D7D7D;
  --netural-soft-color: #767488;
  --netural-subtle-color: #6C7393;
  --bg-white-color: #000000;
  --bg-primary-color: #021750;
  --bg-border-color: #032582;
  --success-strong-color: #9CE03E;
  --success-weak-color: #C9EE96;
  --warning-strong-color: #E03E53;
  --warning-weak-color: #EE96A0;
  --violet-strong-color: #5B4EF1;
  --violet-weak-color: #DCD9FC;
  --ye-strong-color: #FFC43D;
  --ye-weak-color: #FCF1D9;
  --mint-strong-color: #7DCFB6;
  --mint-weak-color: #D9FCF2;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
  padding: 5px;
}
